body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 30px;
}

#listado-registros, #crear-registro {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#registros {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.registro {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.registro:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.registro h3 {
    margin: 0;
    padding: 10px;
    background: linear-gradient(45deg, #003366, #000000);
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

.registro p {
    flex-grow: 1;
    margin: 15px 0;
    color: #6c757d;
    text-align: justify;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px 0;
}

button:hover {
    background-color: #0056b3;
}

#obtener-registros {
    margin-bottom: 20px;
    background-color: #28a745;
}

#obtener-registros:hover {
    background-color: #218838;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

form button {
    background-color: #17a2b8;
}

form button:hover {
    background-color: #138496;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}